<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Andrew Childs</string>
	<key>CFBundleDisplayName</key>
	<string>FlickrTidy</string>
	<key>CFBundleIdentifier</key>
	<string>nz.org.cons.flickrtidy</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>poolslast.js</string>
				<string>commenthider.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://flickr.com/*</string>
			<string>http://www.flickr.com/*</string>
		</array>
	</dict>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>flickr.com</string>
				<string>www.flickr.com</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
